name: FMU Compliance Checker

on:
  workflow_call:

jobs:
  fmpy:
    name: FMPy Validate
    runs-on: ubuntu-latest

    steps:
      - name: Cache Model FMU
        id: cache-model-fmu
        uses: actions/cache@v3
        with:
          path: /tmp/model_fmu
          key: ${{ runner.os }}-model-fmu

      - name: Install FMPy
        run: python -m pip install fmpy[complete]

      - name: Run FMPy Validate
        working-directory: /tmp/model_fmu
        run: fmpy validate ${{ github.event.repository.name }}.fmu
